### Project
/output

### Clojure ###
/target
/classes
/checkouts
*.jar
*.class
/.lein-*
/.nrepl-port
/.cpcache/
/lib/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
dependency-reduced-pom.xml

### IDE
.idea/
.projectile
*.iml

### Mercurial
.hgignore
.hg/


### OS
.DS_Store
